

.sky-content {
    margin-top: 150px;
    padding-top: 4rem; padding-top: 3rem;
    width: 100%; 
    background: #f9f9f9;

}
.sky-content-wrap {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
.sky-inner {
    width: 80%;
    padding: 3rem 0;
    margin: 0 auto;
}