.website-header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  font-family: "Montserrat";
}
.top-bar {
  background: #e71c31;
}
.top-bar nav {
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar nav ul li {
  display: inline-block;
  margin-right: 1rem;
}
.top-bar nav ul li a {
  color: #fff;
  padding: 0.2rem 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.top-bar nav ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  transition: 0.3s ease;
}

/* MAINBAR */
.mainBar {
  width: 100%;
  height: 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.mainBar:hover {
  background: #fff;
  transition: 0.4s ease;
}
.mainBarWrap {
  width: 100%;
  height: 100%;
}
.mainBarWrap .logo {
  color: #fff;
}
.mainBarWrap:hover .logo {
  color: #000;
}
.mainBarWrap:hover .inner ul li a {
  color: #000;
}
.mainBarWrap .inner ul li a:hover {
  color: #f00;
}
.mainBarWrap .inner {
  width: 100%;
  height: 100%;
  /* padding: 0 7rem; */
}
.mainBarWrap .inner .inner-wrap {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.mainBarWrap .inner ul li {
  display: inline-block;
  height: inherit;
  transition: 0.3s ease;
}
.mainBarWrap .inner ul li:not(:last-child) {
  border-right: 1px solid white;
  transition: 0.3s ease;
}
.mainBarWrap:hover .inner ul li:not(:last-child) {
  border-right: 1px solid #111;
  transition: 0.3s ease;
}
.mainBarWrap .inner ul li a {
  color: #fff;
  display: inline-block;
  padding: 0 2.5rem;
  font-weight: 600;
  position: relative;
}
.mainBarWrap .inner ul li a::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 0;
  height: 6px;
  width: 0%;
  background: #f00;
  transition: 0.3s ease;
}
.mainBarWrap .inner ul li a:hover::before {
  width: 100%;
}

/* MEGA-DROPDOWN */
.mainBarWrap .inner ul li .mega-dropdown {
  position: absolute;
  top: 154px;
  left: -5%;
  width: 100%;
  height: 270px;
  padding: 1rem 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #eee;
  transition: 0.3s ease;
}
.mainBarWrap .inner ul li:hover .mega-dropdown {
  top: 154px;
  left: 0;
  visibility: visible;
  opacity: 1;
}
.mainBarWrap .inner ul li .mega-dropdown .mega-dropdown-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.mega-dropdown .mega-dropdown-wrap a::before {
  display: none;
}
.mega-dropdown .mega-dropdown-wrap a::after {
  display: none;
}
.mega-dropdown-wrap h2 {
  padding: 0;
  margin: 0;
  color: #111;
  font-size: 18px;
}
.mega-dropdown-wrap h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  color: #424242;
  color: #f00;
  font-size: 16px;
}
.mega-dropdown-wrap button {
  margin: 2rem 0;
  padding: 0.8rem;
  font-size: 16px;
  background: red;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.mega-dropdown-wrap button a {
  position: relative;
  z-index: 9999;
  color: #fff !important;
  transition: 0.3s ease;
}
.mega-dropdown-wrap button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: #111;
  z-index: 1;
  transition: 0.3s ease;
}
.mega-dropdown-wrap button:hover::before {
  width: 101%;
  height: 101%;
}
.mega-dropdown .mega-dropdown-wrap span {
  padding: 1rem 1rem 1rem 0;
}
.mega-dropdown .mega-dropdown-wrap span:nth-child(3) {
  border-right: 1px solid #ddd;
}
.mega-dropdown .mega-dropdown-wrap span:nth-child(4) ul li {
  border-bottom: none;
}
.mainBarWrap:hover .inner ul li .mega-dropdown-wrap span ul li {
  color: #000;
  border-right: none;
}
.mega-dropdown .mega-dropdown-wrap span ul li a {
  font-size: 14px;
  text-align: left;
  padding: 0.5rem 0 0.5rem 0;
  /* color: #111 !important; */
  transition: 0.3s ease;
}
.mega-dropdown-wrap span ul li a:hover {
  color: red;
  padding: 0.5rem 0 0.5rem 1rem;
}
.mega-dropdown .mega-dropdown-wrap span ul {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mega-dropdown .mega-dropdown-wrap span ul li {
  border-bottom: 1px solid #ddd;
  transition: 0.3s ease;
}
.mega-dropdown .mega-dropdown-wrap span ul li:hover {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 940px) {
  .top-bar {
    display: none;
  }
  .mainBar {
    display: none;
  }
  .main-bar {
    width: 100%;
    height: 104px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 6px solid red;
  }
  .main-bar-content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .lo-go {
    font-weight: 600;
  }
  .menuBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
  }
  .menuBtn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    width: 35px;
    height: 6px;
    transition: 0.2s ease;
  }
  .menuBtn span:nth-child(1) {
    top: 30%;
  }
  .menuBtn span:nth-child(3) {
    top: 70%;
  }
  .menuBtn span:nth-child(1) {
    transform: translate(-50%, -50%);
  }
  .menuBtn span:nth-child(3) {
    transform: translate(-50%, -50%);
  }

  .closeBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
  }
  .closeBtn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    width: 35px;
    height: 6px;
    transition: 0.2s ease;
  }

  .closeBtn span:nth-child(1) {
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .closeBtn span:nth-child(2) {
    opacity: 0;
  }
  .closeBtn span:nth-child(3) {
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .drop-menu {
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #eee;
    background: white;
    z-index: 888;
    transition: 0.3s ease;
  }
  .menus {
    /* border: 1px solid red; */
    background: transparent;
    transition: .3s ease;
  }
  .menus:hover {
    background: #fefefe;
  }
  .drop-menu p,
  .drop-menu h3 {
    color: #000;
  }
  .drop-menu ul li {
    position: relative;
    overflow: hidden;
    max-height: 65px;
    line-height: 25px;
    padding: 0 2rem 0 1rem;
    transition: 0.3s ease;
    border-bottom: 1px solid #eee;
  }
  .drop-menu ul li {
  }
  .drop-menu ul li a {
    display: inline-block;
    height: 100%;
    margin: 1rem 0;
    /* border: 1px solid red; */
  }

  .drop-menu ul li a {
    display: flex;
    justify-content: space-between;
  }
  .drop-menu ul li a span:nth-child(1) {
    font-size: 17px;
    font-weight: 800;
    color: #424242;
  }
  .drop-menu ul li a span:nth-child(2) {
    font-size: 20px;
    transition: .3s ease;
  }


  .drop-menu ul li > ul {
    width: 100%;
  }
  .drop-menu ul li > ul li {
 
    padding: 0.5rem 1rem;
    transition: 0.2s ease;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    transition: 0.3s ease;
  }
  .drop-menu ul li > ul li:last-child {
    border-bottom: none;
  }
  .drop-menu ul li > ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3px;
    height: 50%;
    background: #ddd;
    /* visibility: hidden;
    opacity: 0; */
    transition: 0.2s ease;
  }
  .drop-menu ul li > ul li:hover::before {
    /* visibility: visible;
    opacity: 0.99; */
    background: red;
  }

  .drop-menu ul li > ul li p {
    transition: 0.3s ease;
  }
  .drop-menu ul li > ul li p:hover {
    padding: 0 0 0 0.5rem;
    cursor: pointer;
    color: red;
  }
  .drop-menu ul li:target {
    max-height: 600px;
  }
  .drop-menu ul li:target span:nth-child(2) {
    transform: rotate(45deg)
  }
}
