
.lib-content {
    margin-top: 150px;
    padding-top: 3rem;
    width: 100%; 
    background: #f1f1f1;

}
.lib-content-wrap {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
.lib-inner {
    width: 80%;
    padding: 3rem 0;
    margin: 0 auto;
}